body {
    overflow-x: hidden;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.button {
    position: relative;
    width: 70px;
    height: 30px;
    font-size: 12px;
    background-color: #202232;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: width .5s, border-radius .5s;
}

.button * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .25s;
}

.icon {
    opacity: 0;
}

.button:focus {
    width: 30px;
    background-color: #44c08a;
    border-radius: 50%;
}

.button:focus .text {
    opacity: 0;
}

.button:focus .icon {
    opacity: 1;
    transition-delay: .5s;
}

.button {
    position: relative;
    width: 200px;
    height: 50px;
    font-size: 14px;
    background-color: #F16858;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: width .5s, border-radius .5s;
}

.button * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .25s;
}

.icon {
    opacity: 0;
}

.button:focus {
    width: 30px;
    background-color: #44c08a;
    border-radius: 50%;
}

.button:focus .text {
    opacity: 0;
}

.button:focus .icon {
    opacity: 1;
    transition-delay: .5s;
}

h3 {
    font-size: 6em;
    color: #222;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}

h3:hover {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 5px #F16858, 0 0 25px #77B1BF, 0 0 50px #77B1BF, 0 0 100px #03e9f4;
}